/* ------------------------- OVERVIEW -------------------------- */

.overview {
  margin: 2.5% auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 75%;
}

.productContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.product {
  margin-left: 10px;
  width: 350px;
  height: 733px;
}

.ImageGallery {
  display: flex;
  height: 700px;
  max-width: 70%;
}

.scroll {
  margin-top: 25px;
  height: 600px;
  position: absolute;
  overflow-y: auto;
  z-index: 2;
}

.expandedScroll {
  margin-top: 10%;
  height: 600px;
  position: absolute;
  overflow-y: auto;
  z-index: 99999;
}

.productIcon {
  border-radius: 15%;
  height: 75px;
  width: 75px;
  opacity: 0.6;
}

.expandedIcon {
  border-radius: 15%;
  height: 50px;
  width: 50px;
}

.highlight {
  border: 5px solid skyblue;
  opacity: 1;
}

.productImage {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  width: 1100px;
  height: 733px;
}

.mainImg {
  height: 100%;
  width: 100%;
}

.mainImg:hover {
  cursor: zoom-in;
}

.expandedImg:hover {
  cursor: crosshair;
}

.mainImg, .expandedImg {
  border-radius: 5%;
}

.leftarrow, .rightarrow {
  position: absolute;
  font-size: 50px;
  margin-top: 30%;
  margin-bottom: auto;
  z-index: 9999;
}

.leftarrow {
  margin-left: 12%;
}

.rightarrow {
  margin-left: 90%
}

.reduceImage {
  position: absolute;
  font-size: 50px;
  margin-top: 2%;
  margin-left: 142%;
  z-index: 9999;
}

.zoomedImg:hover {
  cursor: zoom-out;
}

.productReviews {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #807d7d;
}

.reviewScrollButton {
  margin-left: 10px;
  box-shadow: 2px 4px 4px #999;
  border-radius: 5px;
}

.reviewScrollButton:hover {
  background-color: #666;
  color: #FFF;
  transform: translateY(-2px);
}

.reviewScrollButton:active {
  box-shadow: 2px 4px 4px #414141;
  transform: translateY(2px);
}

.productDescription {
  display: flex;
  flex-direction: column;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 100px;
  margin-inline-end: 50px;
}

.slogan, .style{
  font-weight: bold;
}

.productDetailsContainer {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #807d7d;
}

#featurelist {
  display: flex;
}

.sale {
  color: red;
}

#strikethrough {
  color: grey
}

.iconContainer {
  padding-bottom: 10px;
}

.descBox {
  display: flex;
  align-items: center;
  width: 900px
}

.stylesBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 350px;
  height: 270px;
  padding: 10px 0 5px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #807d7d;
}

.styleIcon {
  border-radius: 50%;
}

.styleName {
  display: flex;
  flex-direction: row;
  padding: 10px 0 5px 0;
  border-top: 1px solid #807d7d;
}

.addtocart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 250px;
  height: 150px;
}

#addCart {
  background-color: rgb(252, 231, 204);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  box-shadow: 4px 8px 8px #414141;
}

#addCart:hover {
  background-color: rgb(248, 213, 169);
  transform: translateY(-4px);
}

#addCart:active {
  background-color: rgb(248, 215, 172);
  box-shadow: 2px 4px 4px #414141;
  transform: translateY(4px);
}

.sizeselector {
  position: relative;
  width: 140px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgb(252, 231, 204);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 8px 8px #414141;
}

.quantityselector {
  position: relative;
  width: 60px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgb(252, 231, 204);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 8px 8px #414141;
}

.sizeselector::after, .quantityselector::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.sizeselector select , .quantityselector select {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 14px;
  border: none;
  background: transparent;
  appearance: none;
}

.sizeselector select:focus , .quantityselector select:focus{
  outline: none;
  border-color: #2196F3;
}

.productName {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.productCategory {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  font-weight: bold;
}

.productFeatures {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#featureList {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 500px;
  border-left: 1px solid #807d7d;
}

.socialMediaContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
}

@media only screen and (max-width: 480px) {
  .overview {
    width: 90%;
  }
}